.eslintignore
.eslintrc
.eslintrc.js
.gitattributes
.github
.prettierrc.js
.solcover.js
.solhintignore
.vscode
*.code-workspace
coverage/
demo/
docs/
examples/
gulpfile.ts
jest.config.js
node_modules
prettier.config.js
sonar-project.properties
.cache
src/
test-report.xml
tests
tsconfig.json
yarn-debug.log
yarn-error.log
